@import 'normalize.css/normalize.css';
@import 'typeface-lato/index.css';

:root {
    --app-bg: #bababa;
}

body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 2rem;
    font-weight: 300;
}

#main-title {
    margin: 0.5rem 0;
    font-size: 5rem;
    font-weight: inherit;
}

#sub-title {
    margin: 0.5rem 0;
    font-size: 2rem;
    font-weight: inherit;
}

#contact {
    font-size: 1.2rem;
    margin: 0;
    letter-spacing: 0.05rem;
}

::selection {
    background: var(--app-bg);
}

.hidden {
    visibility: hidden;
}

.typing::after {
    content: "|";
}

.waiting::after {
    animation: 1s blink step-end infinite;
}

.hidden {
    opacity: 0;
}

@keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: black;
    }
}
